Import and initiate findspark
Then import pyspark

In [1]:
import findspark
findspark.init("/usr/local/spark")

In [2]:
import pyspark

Instatiate SparkSession with Hive support

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Check point 3") \
        .config("spark.sql.warehouse.dir", "hdfs://localhost:54310/user/hive/warehouse") \
        .enableHiveSupport() \
        .getOrCreate()

# On some clusters the following config setting may be requied
#         .config("hive.metastore.uris", "<value>")

In [4]:
spark.sql('create database capstone')

DataFrame[]

In [14]:
# Testing Hive integration
spark.sql('show databases').show()

+------------+
|databaseName|
+------------+
|    capstone|
|     default|
|        nyse|
|      office|
+------------+

In [18]:
df_cars = spark.read.load("/home/hduser/Downloads/sharedfolder/df_cars_merged.csv", format="csv", sep=",", inferSchema="true", header="true")
df_cars.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- StateorProvince: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: double (nullable = true)
 |-- seats: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- brand: string (nullable = true)

In [19]:
# Testing Hive integration
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [20]:
df_cars.write.mode("append").saveAsTable("capstone.dfcars")

In [21]:
spark.sql('select * from capstone.dfcars').show()

+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
|_c0|year|selling_price|km_driven|     StateorProvince|      City|  fuel|seller_type|transmission|       owner|mileage|engine|max_power|seats|sold|Region|     brand|
+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
|  0|2014|       450000|   145500|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   23.4|  1248|     74.0|    5|   Y|  East|    MARUTI|
|  1|2019|      1149000|     5000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   17.0|  1591|    121.3|    5|   Y|  East|   HYUNDAI|
|  2|2017|       600000|    25000|District of Columbia|Washington|Petrol| Individual|      Manual| Third Owner|  18.16|  1196|     86.8|    5|   Y|  East|      FORD|
|  3|2016|       540000|    40000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   22.0|  1498|  108.495|    5|   Y|  East|VOLKSWAGEN|
|  4|2015|       630000|   135000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   25.1|  1498|     98.6|    5|   Y|  East|     HONDA|
|  5|2018|       448000|    30000|District of Columbia|Washington|Petrol| Individual|   Automatic| First Owner|  20.51|   998|     67.0|    5|   Y|  East|    MARUTI|
|  6|2009|       185000|    77000|District of Columbia|Washington|Petrol|     Dealer|      Manual|Second Owner|  21.79|   998|    67.05|    5|   Y|  East|    MARUTI|
|  7|2010|       200000|   100000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|   18.8|  1248|     90.0|    5|   Y|  East|      TATA|
|  8|2019|       615000|    10000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|  21.21|  1197|     81.8|    5|   Y|  East|    MARUTI|
|  9|2014|       400000|    70000|District of Columbia|Washington|Diesel| Individual|      Manual| Third Owner|  20.45|  1461|     83.8|    5|   Y|  East|    NISSAN|
| 10|2015|       700000|   110000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|  20.77|  1248|    88.76|    7|   Y|  East|    MARUTI|
| 11|2019|       690000|     1303|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   17.8|  1198|     86.7|    5|   Y|  East|     HONDA|
| 12|2013|       625000|    39000|District of Columbia|Washington|Petrol|     Dealer|   Automatic| First Owner|  14.28|  1798|   138.03|    5|   Y|  East|    TOYOTA|
| 13|2018|      3400000|    22000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|   18.0|  1969|    190.0|    5|   Y|  East|     VOLVO|
| 14|2010|       975000|    72200|District of Columbia|Washington|Petrol|     Dealer|   Automatic|Second Owner|   10.8|  2497|    150.0|    5|   Y|  East|       BMW|
| 15|2016|       805000|    49900|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   16.3|  1797|    147.5|    5|   Y|  East|   HYUNDAI|
| 16|2011|       375000|    49000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|  15.04|  1598|    103.6|    5|   Y|  East|VOLKSWAGEN|
| 17|2016|      2900000|    12000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|  18.12|  1995|    190.0|    5|   Y|  East|       BMW|
| 18|2015|       390000|    50000|District of Columbia|Washington|Petrol| Individual|   Automatic|Second Owner|  20.51|   998|     67.0|    5|   Y|  East|    MARUTI|
| 19|1999|        40000|    40000|District of Columbia|Washington|Petrol| Individual|      Manual|Second Owner|   16.1|   796|     37.0|    4|   Y|  East|    MARUTI|
+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
only showing top 20 rows

In [22]:
spark.sql('show tables from capstone').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|capstone|   dfcars|      false|
+--------+---------+-----------+

In [23]:
spark.sql('use capstone')

DataFrame[]

### Profiling

In [59]:
df_cars.dtypes

[('_c0', 'int'),
 ('year', 'int'),
 ('selling_price', 'int'),
 ('km_driven', 'int'),
 ('StateorProvince', 'string'),
 ('City', 'string'),
 ('fuel', 'string'),
 ('seller_type', 'string'),
 ('transmission', 'string'),
 ('owner', 'string'),
 ('mileage', 'double'),
 ('engine', 'int'),
 ('max_power', 'double'),
 ('seats', 'int'),
 ('sold', 'string'),
 ('Region', 'string'),
 ('brand', 'string')]

In [41]:
numerical_features=['year','selling_price','km_driven','mileage','engine','max_power','seats']

In [43]:
df_cars.describe(numerical_features).show()

+-------+------------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+
|summary|              year|    selling_price|        km_driven|           mileage|            engine|        max_power|             seats|
+-------+------------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+
|  count|              7906|             7906|             7906|              7906|              7906|             7906|              7906|
|   mean|2013.9839362509485| 649813.720844928|69188.65975208703|19.419860865165695|1458.7088287376675|91.58737351378637|5.4163926132051605|
| stddev|3.8636953387034967|813582.7483541325|56792.29634331763| 4.036263200758886|  503.893056850139|35.74721608448376|0.9592082121984603|
|    min|              1994|            29999|                1|               0.0|               624|             32.8|                 2|
|    max|              2020|         10000000|          2360457|              42.0|              3604|            400.0|                14|
+-------+------------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+

### Checking for missing values

In [44]:
from pyspark.sql.functions import isnan, when, count, col
df_cars.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_cars.columns]).show()

+---+----+-------------+---------+---------------+----+----+-----------+------------+-----+-------+------+---------+-----+----+------+-----+
|_c0|year|selling_price|km_driven|StateorProvince|City|fuel|seller_type|transmission|owner|mileage|engine|max_power|seats|sold|Region|brand|
+---+----+-------------+---------+---------------+----+----+-----------+------------+-----+-------+------+---------+-----+----+------+-----+
|  0|   0|            0|        0|              0|   0|   0|          0|           0|    0|      0|     0|        0|    0|   0|     0|    0|
+---+----+-------------+---------+---------------+----+----+-----------+------------+-----+-------+------+---------+-----+----+------+-----+

There are no missing values found

In [60]:
def calculate_bounds(df):
    bounds = {
        c: dict(
            zip(["q1", "q3"], df.approxQuantile(c, [0.25, 0.75], 0))
        )
        for c,d in zip(df.columns, df.dtypes) if d[1] == "int" or d[1]=="double"
    }

    for c in bounds:
        iqr = bounds[c]['q3'] - bounds[c]['q1']
        bounds[c]['min'] = bounds[c]['q1'] - (iqr * 1.5)
        bounds[c]['max'] = bounds[c]['q3'] + (iqr * 1.5)

    return bounds

In [61]:
calculate_bounds(df_cars)

{'_c0': {'max': 11859.5, 'min': -3952.5, 'q1': 1977.0, 'q3': 5930.0},
 'engine': {'max': 2159.5, 'min': 619.5, 'q1': 1197.0, 'q3': 1582.0},
 'km_driven': {'max': 187500.0, 'min': -56500.0, 'q1': 35000.0, 'q3': 96000.0},
 'max_power': {'max': 152.925,
  'min': 17.124999999999993,
  'q1': 68.05,
  'q3': 102.0},
 'mileage': {'max': 30.63, 'min': 8.470000000000002, 'q1': 16.78, 'q3': 22.32},
 'seats': {'max': 5.0, 'min': 5.0, 'q1': 5.0, 'q3': 5.0},
 'selling_price': {'max': 1320000.0,
  'min': -360000.0,
  'q1': 270000.0,
  'q3': 690000.0},
 'year': {'max': 2024.5, 'min': 2004.5, 'q1': 2012.0, 'q3': 2017.0}}

In [50]:
import pyspark.sql.functions as f
def flag_outliers(df, id_col):
    bounds = calculate_bounds(df)
    outliers = {}

    return df.select(c, id_col,
        *[
            f.when(
                ~f.col(c).between(bounds[c]['min'], bounds[c]['max']),"yes"
            ).otherwise("no").alias(c+'_outlier')
        ]
    )

In [63]:
for c in numerical_features:
    flag_outliers(df_cars,c).show()

+----+----+------------+
|year|year|year_outlier|
+----+----+------------+
|2014|2014|          no|
|2019|2019|          no|
|2017|2017|          no|
|2016|2016|          no|
|2015|2015|          no|
|2018|2018|          no|
|2009|2009|          no|
|2010|2010|          no|
|2019|2019|          no|
|2014|2014|          no|
|2015|2015|          no|
|2019|2019|          no|
|2013|2013|          no|
|2018|2018|          no|
|2010|2010|          no|
|2016|2016|          no|
|2011|2011|          no|
|2016|2016|          no|
|2015|2015|          no|
|1999|1999|         yes|
+----+----+------------+
only showing top 20 rows

+-------------+-------------+---------------------+
|selling_price|selling_price|selling_price_outlier|
+-------------+-------------+---------------------+
|       450000|       450000|                   no|
|      1149000|      1149000|                   no|
|       600000|       600000|                   no|
|       540000|       540000|                   no|
|       630000|       630000|                   no|
|       448000|       448000|                   no|
|       185000|       185000|                   no|
|       200000|       200000|                   no|
|       615000|       615000|                   no|
|       400000|       400000|                   no|
|       700000|       700000|                   no|
|       690000|       690000|                   no|
|       625000|       625000|                   no|
|      3400000|      3400000|                  yes|
|       975000|       975000|                   no|
|       805000|       805000|                   no|
|       375000|       375000|                   no|
|      2900000|      2900000|                  yes|
|       390000|       390000|                   no|
|        40000|        40000|                   no|
+-------------+-------------+---------------------+
only showing top 20 rows

+---------+---------+-----------------+
|km_driven|km_driven|km_driven_outlier|
+---------+---------+-----------------+
|   145500|   145500|               no|
|     5000|     5000|               no|
|    25000|    25000|               no|
|    40000|    40000|               no|
|   135000|   135000|               no|
|    30000|    30000|               no|
|    77000|    77000|               no|
|   100000|   100000|               no|
|    10000|    10000|               no|
|    70000|    70000|               no|
|   110000|   110000|               no|
|     1303|     1303|               no|
|    39000|    39000|               no|
|    22000|    22000|               no|
|    72200|    72200|               no|
|    49900|    49900|               no|
|    49000|    49000|               no|
|    12000|    12000|               no|
|    50000|    50000|               no|
|    40000|    40000|               no|
+---------+---------+-----------------+
only showing top 20 rows

+-------+-------+---------------+
|mileage|mileage|mileage_outlier|
+-------+-------+---------------+
|   23.4|   23.4|             no|
|   17.0|   17.0|             no|
|  18.16|  18.16|             no|
|   22.0|   22.0|             no|
|   25.1|   25.1|             no|
|  20.51|  20.51|             no|
|  21.79|  21.79|             no|
|   18.8|   18.8|             no|
|  21.21|  21.21|             no|
|  20.45|  20.45|             no|
|  20.77|  20.77|             no|
|   17.8|   17.8|             no|
|  14.28|  14.28|             no|
|   18.0|   18.0|             no|
|   10.8|   10.8|             no|
|   16.3|   16.3|             no|
|  15.04|  15.04|             no|
|  18.12|  18.12|             no|
|  20.51|  20.51|             no|
|   16.1|   16.1|             no|
+-------+-------+---------------+
only showing top 20 rows

+------+------+--------------+
|engine|engine|engine_outlier|
+------+------+--------------+
|  1248|  1248|            no|
|  1591|  1591|            no|
|  1196|  1196|            no|
|  1498|  1498|            no|
|  1498|  1498|            no|
|   998|   998|            no|
|   998|   998|            no|
|  1248|  1248|            no|
|  1197|  1197|            no|
|  1461|  1461|            no|
|  1248|  1248|            no|
|  1198|  1198|            no|
|  1798|  1798|            no|
|  1969|  1969|            no|
|  2497|  2497|           yes|
|  1797|  1797|            no|
|  1598|  1598|            no|
|  1995|  1995|            no|
|   998|   998|            no|
|   796|   796|            no|
+------+------+--------------+
only showing top 20 rows

+---------+---------+-----------------+
|max_power|max_power|max_power_outlier|
+---------+---------+-----------------+
|     74.0|     74.0|               no|
|    121.3|    121.3|               no|
|     86.8|     86.8|               no|
|  108.495|  108.495|               no|
|     98.6|     98.6|               no|
|     67.0|     67.0|               no|
|    67.05|    67.05|               no|
|     90.0|     90.0|               no|
|     81.8|     81.8|               no|
|     83.8|     83.8|               no|
|    88.76|    88.76|               no|
|     86.7|     86.7|               no|
|   138.03|   138.03|               no|
|    190.0|    190.0|              yes|
|    150.0|    150.0|               no|
|    147.5|    147.5|               no|
|    103.6|    103.6|               no|
|    190.0|    190.0|              yes|
|     67.0|     67.0|               no|
|     37.0|     37.0|               no|
+---------+---------+-----------------+
only showing top 20 rows

+-----+-----+-------------+
|seats|seats|seats_outlier|
+-----+-----+-------------+
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    7|    7|          yes|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    4|    4|          yes|
+-----+-----+-------------+
only showing top 20 rows

### We observe outliers in the dataset and therefore they need to be handled

In [71]:
from pyspark.ml.feature import StringIndexer

In [72]:
indexer = StringIndexer(inputCol="fuel", outputCol="fuel_numeric")
indexed = indexer.fit(df_cars).transform(df_cars)
indexed.show()

+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+------------+
|_c0|year|selling_price|km_driven|     StateorProvince|      City|  fuel|seller_type|transmission|       owner|mileage|engine|max_power|seats|sold|Region|     brand|fuel_numeric|
+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+------------+
|  0|2014|       450000|   145500|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   23.4|  1248|     74.0|    5|   Y|  East|    MARUTI|         0.0|
|  1|2019|      1149000|     5000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   17.0|  1591|    121.3|    5|   Y|  East|   HYUNDAI|         1.0|
|  2|2017|       600000|    25000|District of Columbia|Washington|Petrol| Individual|      Manual| Third Owner|  18.16|  1196|     86.8|    5|   Y|  East|      FORD|         1.0|
|  3|2016|       540000|    40000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   22.0|  1498|  108.495|    5|   Y|  East|VOLKSWAGEN|         0.0|
|  4|2015|       630000|   135000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   25.1|  1498|     98.6|    5|   Y|  East|     HONDA|         0.0|
|  5|2018|       448000|    30000|District of Columbia|Washington|Petrol| Individual|   Automatic| First Owner|  20.51|   998|     67.0|    5|   Y|  East|    MARUTI|         1.0|
|  6|2009|       185000|    77000|District of Columbia|Washington|Petrol|     Dealer|      Manual|Second Owner|  21.79|   998|    67.05|    5|   Y|  East|    MARUTI|         1.0|
|  7|2010|       200000|   100000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|   18.8|  1248|     90.0|    5|   Y|  East|      TATA|         0.0|
|  8|2019|       615000|    10000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|  21.21|  1197|     81.8|    5|   Y|  East|    MARUTI|         1.0|
|  9|2014|       400000|    70000|District of Columbia|Washington|Diesel| Individual|      Manual| Third Owner|  20.45|  1461|     83.8|    5|   Y|  East|    NISSAN|         0.0|
| 10|2015|       700000|   110000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|  20.77|  1248|    88.76|    7|   Y|  East|    MARUTI|         0.0|
| 11|2019|       690000|     1303|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   17.8|  1198|     86.7|    5|   Y|  East|     HONDA|         1.0|
| 12|2013|       625000|    39000|District of Columbia|Washington|Petrol|     Dealer|   Automatic| First Owner|  14.28|  1798|   138.03|    5|   Y|  East|    TOYOTA|         1.0|
| 13|2018|      3400000|    22000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|   18.0|  1969|    190.0|    5|   Y|  East|     VOLVO|         0.0|
| 14|2010|       975000|    72200|District of Columbia|Washington|Petrol|     Dealer|   Automatic|Second Owner|   10.8|  2497|    150.0|    5|   Y|  East|       BMW|         1.0|
| 15|2016|       805000|    49900|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   16.3|  1797|    147.5|    5|   Y|  East|   HYUNDAI|         1.0|
| 16|2011|       375000|    49000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|  15.04|  1598|    103.6|    5|   Y|  East|VOLKSWAGEN|         1.0|
| 17|2016|      2900000|    12000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|  18.12|  1995|    190.0|    5|   Y|  East|       BMW|         0.0|
| 18|2015|       390000|    50000|District of Columbia|Washington|Petrol| Individual|   Automatic|Second Owner|  20.51|   998|     67.0|    5|   Y|  East|    MARUTI|         1.0|
| 19|1999|        40000|    40000|District of Columbia|Washington|Petrol| Individual|      Manual|Second Owner|   16.1|   796|     37.0|    4|   Y|  East|    MARUTI|         1.0|
+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+------------+
only showing top 20 rows

In [73]:
from pyspark.ml.feature import OneHotEncoder

In [76]:
encoder = OneHotEncoder(inputCol=["transmission"],
                       outputCol=["transmission_vect"])

TypeError: Invalid param value given for param "outputCol". Could not convert <class 'list'> to string type

### MODEL BUILDING

In [24]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler
from pyspark.ml import Pipeline
from pyspark.sql.functions import *

In [25]:
features=['year','selling_price','km_driven','StateorProvince','City','fuel','seller_type','transmission', 'owner','mileage','engine','max_power','seats','sold','Region','brand']

In [29]:
lr_data = df_cars.select(col("selling_price").alias("label"), *features)
lr_data.printSchema()

root
 |-- label: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- StateorProvince: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: double (nullable = true)
 |-- seats: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- brand: string (nullable = true)

In [31]:
vectorAssembler = VectorAssembler(inputCols=features, outputCol="unscaled_features")

In [32]:
va_data = vectorAssembler.transform(lr_data)

IllegalArgumentException: 'Data type StringType is not supported.'