Import and initiate findspark
Then import pyspark

In [1]:
import findspark
findspark.init("/usr/local/spark")

In [2]:
import pyspark

Instatiate SparkSession with Hive support

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Check point 3") \
        .config("spark.sql.warehouse.dir", "hdfs://localhost:54310/user/hive/warehouse") \
        .enableHiveSupport() \
        .getOrCreate()

# On some clusters the following config setting may be requied
#         .config("hive.metastore.uris", "<value>")

spark.sql('create database capstone')

In [4]:
# Testing Hive integration
spark.sql('show databases').show()

+------------+
|databaseName|
+------------+
|    capstone|
|     default|
|        nyse|
|      office|
+------------+

In [5]:
df_cars = spark.read.load("/home/hduser/Downloads/sharedfolder/df_cars_merged.csv", format="csv", sep=",", inferSchema="true", header="true")
df_cars.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- StateorProvince: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: double (nullable = true)
 |-- seats: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- brand: string (nullable = true)

In [6]:
spark.sql('use capstone')

DataFrame[]

In [7]:
df_cars.write.mode("append").saveAsTable("capstone.dfcars")

In [8]:
spark.sql('select * from capstone.dfcars').show(truncate=False)

+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
|_c0|year|selling_price|km_driven|StateorProvince     |City      |fuel  |seller_type|transmission|owner       |mileage|engine|max_power|seats|sold|Region|brand     |
+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
|0  |2014|450000       |145500   |District of Columbia|Washington|Diesel|Individual |Manual      |First Owner |23.4   |1248  |74.0     |5    |Y   |East  |MARUTI    |
|1  |2019|1149000      |5000     |District of Columbia|Washington|Petrol|Individual |Manual      |First Owner |17.0   |1591  |121.3    |5    |Y   |East  |HYUNDAI   |
|2  |2017|600000       |25000    |District of Columbia|Washington|Petrol|Individual |Manual      |Third Owner |18.16  |1196  |86.8     |5    |Y   |East  |FORD      |
|3  |2016|540000       |40000    |District of Columbia|Washington|Diesel|Individual |Manual      |First Owner |22.0   |1498  |108.495  |5    |Y   |East  |VOLKSWAGEN|
|4  |2015|630000       |135000   |District of Columbia|Washington|Diesel|Individual |Manual      |First Owner |25.1   |1498  |98.6     |5    |Y   |East  |HONDA     |
|5  |2018|448000       |30000    |District of Columbia|Washington|Petrol|Individual |Automatic   |First Owner |20.51  |998   |67.0     |5    |Y   |East  |MARUTI    |
|6  |2009|185000       |77000    |District of Columbia|Washington|Petrol|Dealer     |Manual      |Second Owner|21.79  |998   |67.05    |5    |Y   |East  |MARUTI    |
|7  |2010|200000       |100000   |District of Columbia|Washington|Diesel|Individual |Manual      |Second Owner|18.8   |1248  |90.0     |5    |Y   |East  |TATA      |
|8  |2019|615000       |10000    |District of Columbia|Washington|Petrol|Individual |Manual      |First Owner |21.21  |1197  |81.8     |5    |Y   |East  |MARUTI    |
|9  |2014|400000       |70000    |District of Columbia|Washington|Diesel|Individual |Manual      |Third Owner |20.45  |1461  |83.8     |5    |Y   |East  |NISSAN    |
|10 |2015|700000       |110000   |District of Columbia|Washington|Diesel|Individual |Manual      |Second Owner|20.77  |1248  |88.76    |7    |Y   |East  |MARUTI    |
|11 |2019|690000       |1303     |District of Columbia|Washington|Petrol|Dealer     |Manual      |First Owner |17.8   |1198  |86.7     |5    |Y   |East  |HONDA     |
|12 |2013|625000       |39000    |District of Columbia|Washington|Petrol|Dealer     |Automatic   |First Owner |14.28  |1798  |138.03   |5    |Y   |East  |TOYOTA    |
|13 |2018|3400000      |22000    |District of Columbia|Washington|Diesel|Dealer     |Automatic   |First Owner |18.0   |1969  |190.0    |5    |Y   |East  |VOLVO     |
|14 |2010|975000       |72200    |District of Columbia|Washington|Petrol|Dealer     |Automatic   |Second Owner|10.8   |2497  |150.0    |5    |Y   |East  |BMW       |
|15 |2016|805000       |49900    |District of Columbia|Washington|Petrol|Dealer     |Manual      |First Owner |16.3   |1797  |147.5    |5    |Y   |East  |HYUNDAI   |
|16 |2011|375000       |49000    |District of Columbia|Washington|Petrol|Individual |Manual      |First Owner |15.04  |1598  |103.6    |5    |Y   |East  |VOLKSWAGEN|
|17 |2016|2900000      |12000    |District of Columbia|Washington|Diesel|Dealer     |Automatic   |First Owner |18.12  |1995  |190.0    |5    |Y   |East  |BMW       |
|18 |2015|390000       |50000    |District of Columbia|Washington|Petrol|Individual |Automatic   |Second Owner|20.51  |998   |67.0     |5    |Y   |East  |MARUTI    |
|19 |1999|40000        |40000    |District of Columbia|Washington|Petrol|Individual |Manual      |Second Owner|16.1   |796   |37.0     |4    |Y   |East  |MARUTI    |
+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
only showing top 20 rows

In [9]:
spark.sql('show tables from capstone').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|capstone|  df_cars|      false|
|capstone|   dfcars|      false|
+--------+---------+-----------+

In [10]:
spark.sql('use capstone')

DataFrame[]

### Profiling

In [11]:
df_cars.dtypes

[('_c0', 'int'),
 ('year', 'int'),
 ('selling_price', 'int'),
 ('km_driven', 'int'),
 ('StateorProvince', 'string'),
 ('City', 'string'),
 ('fuel', 'string'),
 ('seller_type', 'string'),
 ('transmission', 'string'),
 ('owner', 'string'),
 ('mileage', 'double'),
 ('engine', 'int'),
 ('max_power', 'double'),
 ('seats', 'int'),
 ('sold', 'string'),
 ('Region', 'string'),
 ('brand', 'string')]

In [12]:
numerical_features=['year','selling_price','km_driven','mileage','engine','max_power','seats']

In [13]:
df_cars.describe(numerical_features).show()

+-------+------------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+
|summary|              year|    selling_price|        km_driven|           mileage|            engine|        max_power|             seats|
+-------+------------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+
|  count|              7906|             7906|             7906|              7906|              7906|             7906|              7906|
|   mean|2013.9839362509485| 649813.720844928|69188.65975208703|19.419860865165695|1458.7088287376675|91.58737351378637|5.4163926132051605|
| stddev|3.8636953387034967|813582.7483541325|56792.29634331763| 4.036263200758886|  503.893056850139|35.74721608448376|0.9592082121984603|
|    min|              1994|            29999|                1|               0.0|               624|             32.8|                 2|
|    max|              2020|         10000000|          2360457|              42.0|              3604|            400.0|                14|
+-------+------------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+

### Checking for missing values

In [14]:
from pyspark.sql.functions import isnan, when, count, col
df_cars.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_cars.columns]).show()

+---+----+-------------+---------+---------------+----+----+-----------+------------+-----+-------+------+---------+-----+----+------+-----+
|_c0|year|selling_price|km_driven|StateorProvince|City|fuel|seller_type|transmission|owner|mileage|engine|max_power|seats|sold|Region|brand|
+---+----+-------------+---------+---------------+----+----+-----------+------------+-----+-------+------+---------+-----+----+------+-----+
|  0|   0|            0|        0|              0|   0|   0|          0|           0|    0|      0|     0|        0|    0|   0|     0|    0|
+---+----+-------------+---------+---------------+----+----+-----------+------------+-----+-------+------+---------+-----+----+------+-----+

There are no missing values found

In [15]:
def calculate_bounds(df):
    bounds = {
        c: dict(
            zip(["q1", "q3"], df.approxQuantile(c, [0.25, 0.75], 0))
        )
        for c,d in zip(df.columns, df.dtypes) if d[1] == "int" or d[1]=="double"
    }

    for c in bounds:
        iqr = bounds[c]['q3'] - bounds[c]['q1']
        bounds[c]['min'] = bounds[c]['q1'] - (iqr * 1.5)
        bounds[c]['max'] = bounds[c]['q3'] + (iqr * 1.5)

    return bounds

In [16]:
calculate_bounds(df_cars)

{'_c0': {'max': 11859.5, 'min': -3952.5, 'q1': 1977.0, 'q3': 5930.0},
 'engine': {'max': 2159.5, 'min': 619.5, 'q1': 1197.0, 'q3': 1582.0},
 'km_driven': {'max': 187500.0, 'min': -56500.0, 'q1': 35000.0, 'q3': 96000.0},
 'max_power': {'max': 152.925,
  'min': 17.124999999999993,
  'q1': 68.05,
  'q3': 102.0},
 'mileage': {'max': 30.63, 'min': 8.470000000000002, 'q1': 16.78, 'q3': 22.32},
 'seats': {'max': 5.0, 'min': 5.0, 'q1': 5.0, 'q3': 5.0},
 'selling_price': {'max': 1320000.0,
  'min': -360000.0,
  'q1': 270000.0,
  'q3': 690000.0},
 'year': {'max': 2024.5, 'min': 2004.5, 'q1': 2012.0, 'q3': 2017.0}}

In [17]:
import pyspark.sql.functions as f
def flag_outliers(df, id_col):
    bounds = calculate_bounds(df)
    outliers = {}

    return df.select(c, id_col,
        *[
            f.when(
                ~f.col(c).between(bounds[c]['min'], bounds[c]['max']),"yes"
            ).otherwise("no").alias(c+'_outlier')
        ]
    )

In [18]:
for c in numerical_features:
    flag_outliers(df_cars,c).show()

+----+----+------------+
|year|year|year_outlier|
+----+----+------------+
|2014|2014|          no|
|2019|2019|          no|
|2017|2017|          no|
|2016|2016|          no|
|2015|2015|          no|
|2018|2018|          no|
|2009|2009|          no|
|2010|2010|          no|
|2019|2019|          no|
|2014|2014|          no|
|2015|2015|          no|
|2019|2019|          no|
|2013|2013|          no|
|2018|2018|          no|
|2010|2010|          no|
|2016|2016|          no|
|2011|2011|          no|
|2016|2016|          no|
|2015|2015|          no|
|1999|1999|         yes|
+----+----+------------+
only showing top 20 rows

+-------------+-------------+---------------------+
|selling_price|selling_price|selling_price_outlier|
+-------------+-------------+---------------------+
|       450000|       450000|                   no|
|      1149000|      1149000|                   no|
|       600000|       600000|                   no|
|       540000|       540000|                   no|
|       630000|       630000|                   no|
|       448000|       448000|                   no|
|       185000|       185000|                   no|
|       200000|       200000|                   no|
|       615000|       615000|                   no|
|       400000|       400000|                   no|
|       700000|       700000|                   no|
|       690000|       690000|                   no|
|       625000|       625000|                   no|
|      3400000|      3400000|                  yes|
|       975000|       975000|                   no|
|       805000|       805000|                   no|
|       375000|       375000|                   no|
|      2900000|      2900000|                  yes|
|       390000|       390000|                   no|
|        40000|        40000|                   no|
+-------------+-------------+---------------------+
only showing top 20 rows

+---------+---------+-----------------+
|km_driven|km_driven|km_driven_outlier|
+---------+---------+-----------------+
|   145500|   145500|               no|
|     5000|     5000|               no|
|    25000|    25000|               no|
|    40000|    40000|               no|
|   135000|   135000|               no|
|    30000|    30000|               no|
|    77000|    77000|               no|
|   100000|   100000|               no|
|    10000|    10000|               no|
|    70000|    70000|               no|
|   110000|   110000|               no|
|     1303|     1303|               no|
|    39000|    39000|               no|
|    22000|    22000|               no|
|    72200|    72200|               no|
|    49900|    49900|               no|
|    49000|    49000|               no|
|    12000|    12000|               no|
|    50000|    50000|               no|
|    40000|    40000|               no|
+---------+---------+-----------------+
only showing top 20 rows

+-------+-------+---------------+
|mileage|mileage|mileage_outlier|
+-------+-------+---------------+
|   23.4|   23.4|             no|
|   17.0|   17.0|             no|
|  18.16|  18.16|             no|
|   22.0|   22.0|             no|
|   25.1|   25.1|             no|
|  20.51|  20.51|             no|
|  21.79|  21.79|             no|
|   18.8|   18.8|             no|
|  21.21|  21.21|             no|
|  20.45|  20.45|             no|
|  20.77|  20.77|             no|
|   17.8|   17.8|             no|
|  14.28|  14.28|             no|
|   18.0|   18.0|             no|
|   10.8|   10.8|             no|
|   16.3|   16.3|             no|
|  15.04|  15.04|             no|
|  18.12|  18.12|             no|
|  20.51|  20.51|             no|
|   16.1|   16.1|             no|
+-------+-------+---------------+
only showing top 20 rows

+------+------+--------------+
|engine|engine|engine_outlier|
+------+------+--------------+
|  1248|  1248|            no|
|  1591|  1591|            no|
|  1196|  1196|            no|
|  1498|  1498|            no|
|  1498|  1498|            no|
|   998|   998|            no|
|   998|   998|            no|
|  1248|  1248|            no|
|  1197|  1197|            no|
|  1461|  1461|            no|
|  1248|  1248|            no|
|  1198|  1198|            no|
|  1798|  1798|            no|
|  1969|  1969|            no|
|  2497|  2497|           yes|
|  1797|  1797|            no|
|  1598|  1598|            no|
|  1995|  1995|            no|
|   998|   998|            no|
|   796|   796|            no|
+------+------+--------------+
only showing top 20 rows

+---------+---------+-----------------+
|max_power|max_power|max_power_outlier|
+---------+---------+-----------------+
|     74.0|     74.0|               no|
|    121.3|    121.3|               no|
|     86.8|     86.8|               no|
|  108.495|  108.495|               no|
|     98.6|     98.6|               no|
|     67.0|     67.0|               no|
|    67.05|    67.05|               no|
|     90.0|     90.0|               no|
|     81.8|     81.8|               no|
|     83.8|     83.8|               no|
|    88.76|    88.76|               no|
|     86.7|     86.7|               no|
|   138.03|   138.03|               no|
|    190.0|    190.0|              yes|
|    150.0|    150.0|               no|
|    147.5|    147.5|               no|
|    103.6|    103.6|               no|
|    190.0|    190.0|              yes|
|     67.0|     67.0|               no|
|     37.0|     37.0|               no|
+---------+---------+-----------------+
only showing top 20 rows

+-----+-----+-------------+
|seats|seats|seats_outlier|
+-----+-----+-------------+
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    7|    7|          yes|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    5|    5|           no|
|    4|    4|          yes|
+-----+-----+-------------+
only showing top 20 rows

### We observe outliers in the dataset and therefore they need to be handled

### Correlation co-efficients

In [19]:
from pyspark.ml.stat import Correlation
print('KMs driven :',df_cars.stat.corr('selling_price','km_driven'))
print('year :',df_cars.stat.corr('selling_price','year'))
print('engine :',df_cars.stat.corr('selling_price','engine'))
print('seats :',df_cars.stat.corr('selling_price','seats'))
print('max_power :',df_cars.stat.corr('selling_price','max_power'))
print('mileage :',df_cars.stat.corr('selling_price','mileage'))

KMs driven : -0.22215847533483693
year : 0.41230155817117
engine : 0.4556818000356126
seats : 0.041616693830263764
max_power : 0.7496737800444876
mileage : -0.12627994951355292

### Covariance co-efficients

In [20]:
#from pyspark.ml.stat import Covariance
print('KMs driven :',df_cars.stat.cov('selling_price','km_driven'))
print('year :',df_cars.stat.cov('selling_price','year'))
print('engine :',df_cars.stat.cov('selling_price','engine'))
print('seats :',df_cars.stat.cov('selling_price','seats'))
print('max_power :',df_cars.stat.cov('selling_price','max_power'))
print('mileage :',df_cars.stat.cov('selling_price','mileage'))

KMs driven : -10264884014.541874
year : 1296043.508228653
engine : 186810717.476202
seats : 32477.47033251092
max_power : 21803001.172212917
mileage : -414682.4053633221

### CROSS-TABULATION FOR BETTER ANALYSIS

In [21]:
print(df_cars.stat.crosstab('selling_price','fuel').show())

+------------------+---+------+---+------+
|selling_price_fuel|CNG|Diesel|LPG|Petrol|
+------------------+---+------+---+------+
|            978999|  0|     1|  0|     0|
|             68000|  0|     0|  0|     1|
|            600000|  0|   124|  0|    87|
|             31504|  0|     0|  0|     1|
|            105000|  0|     1|  1|     5|
|            537000|  0|     0|  0|     1|
|            499000|  0|     2|  0|     2|
|            715000|  0|     5|  0|     0|
|            403000|  0|     1|  0|     0|
|            541000|  0|     1|  0|     0|
|           1789999|  0|     1|  0|     0|
|            515000|  0|    10|  0|     7|
|            565000|  0|     3|  0|     7|
|            151000|  0|     1|  0|     0|
|           1025000|  0|     7|  0|     2|
|           1898999|  0|     1|  0|     0|
|            785000|  0|     0|  0|     1|
|           1051000|  0|     1|  0|     0|
|           1040000|  0|     0|  0|     1|
|           3300000|  0|     1|  0|     0|
+------------------+---+------+---+------+
only showing top 20 rows

None

In [22]:
print(df_cars.stat.crosstab('selling_price','seller_type').show())

+-------------------------+------+----------+----------------+
|selling_price_seller_type|Dealer|Individual|Trustmark Dealer|
+-------------------------+------+----------+----------------+
|                   978999|     0|         1|               0|
|                    68000|     0|         1|               0|
|                   600000|    43|       167|               1|
|                    31504|     0|         1|               0|
|                   105000|     0|         7|               0|
|                   537000|     0|         1|               0|
|                   499000|     1|         3|               0|
|                   715000|     0|         5|               0|
|                   403000|     0|         1|               0|
|                   541000|     0|         1|               0|
|                  1789999|     1|         0|               0|
|                   515000|     2|        15|               0|
|                   565000|     2|         8|               0|
|                   151000|     0|         1|               0|
|                  1025000|     5|         4|               0|
|                  1898999|     1|         0|               0|
|                   785000|     1|         0|               0|
|                  1051000|     1|         0|               0|
|                  1040000|     0|         1|               0|
|                  3300000|     1|         0|               0|
+-------------------------+------+----------+----------------+
only showing top 20 rows

None

In [23]:
print(df_cars.stat.crosstab('selling_price','transmission').show())

+--------------------------+---------+------+
|selling_price_transmission|Automatic|Manual|
+--------------------------+---------+------+
|                    978999|        0|     1|
|                     68000|        0|     1|
|                    600000|       44|   167|
|                     31504|        0|     1|
|                    105000|        0|     7|
|                    537000|        0|     1|
|                    499000|        1|     3|
|                    715000|        0|     5|
|                    403000|        0|     1|
|                    541000|        0|     1|
|                   1789999|        0|     1|
|                    515000|        1|    16|
|                    565000|        2|     8|
|                    151000|        0|     1|
|                   1025000|        6|     3|
|                   1898999|        1|     0|
|                    785000|        0|     1|
|                   1051000|        0|     1|
|                   1040000|        0|     1|
|                   3300000|        1|     0|
+--------------------------+---------+------+
only showing top 20 rows

None

In [24]:
print(df_cars.stat.crosstab('selling_price','owner').show())

+-------------------+-----------+--------------------+------------+--------------+-----------+
|selling_price_owner|First Owner|Fourth & Above Owner|Second Owner|Test Drive Car|Third Owner|
+-------------------+-----------+--------------------+------------+--------------+-----------+
|             978999|          1|                   0|           0|             0|          0|
|              68000|          0|                   0|           0|             0|          1|
|             600000|        170|                   1|          31|             0|          9|
|              31504|          0|                   0|           0|             0|          1|
|             105000|          1|                   1|           3|             0|          2|
|             537000|          1|                   0|           0|             0|          0|
|             499000|          3|                   0|           1|             0|          0|
|             715000|          4|                   0|           1|             0|          0|
|             403000|          0|                   0|           1|             0|          0|
|             541000|          1|                   0|           0|             0|          0|
|            1789999|          1|                   0|           0|             0|          0|
|             515000|         12|                   0|           5|             0|          0|
|             565000|          7|                   0|           3|             0|          0|
|             151000|          0|                   0|           1|             0|          0|
|            1025000|          8|                   0|           0|             0|          1|
|            1898999|          1|                   0|           0|             0|          0|
|             785000|          1|                   0|           0|             0|          0|
|            1051000|          1|                   0|           0|             0|          0|
|            1040000|          1|                   0|           0|             0|          0|
|            3300000|          1|                   0|           0|             0|          0|
+-------------------+-----------+--------------------+------------+--------------+-----------+
only showing top 20 rows

None

In [25]:
print(df_cars.stat.crosstab('selling_price','sold').show())

+------------------+---+---+
|selling_price_sold|  N|  Y|
+------------------+---+---+
|            978999|  1|  0|
|             68000|  1|  0|
|            600000|159| 52|
|             31504|  0|  1|
|            105000|  4|  3|
|            537000|  1|  0|
|            499000|  4|  0|
|            715000|  3|  2|
|            403000|  0|  1|
|            541000|  1|  0|
|           1789999|  1|  0|
|            515000| 14|  3|
|            565000|  7|  3|
|            151000|  1|  0|
|           1025000|  7|  2|
|           1898999|  1|  0|
|            785000|  1|  0|
|           1051000|  1|  0|
|           1040000|  0|  1|
|           3300000|  1|  0|
+------------------+---+---+
only showing top 20 rows

None

In [26]:
df_cars.stat.crosstab('selling_price','Region').show()

+--------------------+-------+----+-----+----+
|selling_price_Region|Central|East|South|West|
+--------------------+-------+----+-----+----+
|              978999|      0|   0|    1|   0|
|               68000|      0|   0|    0|   1|
|              600000|     75|  46|   38|  52|
|               31504|      0|   0|    1|   0|
|              105000|      1|   2|    2|   2|
|              537000|      0|   0|    0|   1|
|              499000|      0|   0|    1|   3|
|              715000|      0|   3|    2|   0|
|              403000|      1|   0|    0|   0|
|              541000|      0|   0|    0|   1|
|             1789999|      0|   0|    1|   0|
|              515000|      2|   6|    3|   6|
|              565000|      2|   2|    1|   5|
|              151000|      1|   0|    0|   0|
|             1025000|      1|   4|    2|   2|
|             1898999|      0|   0|    0|   1|
|              785000|      0|   1|    0|   0|
|             1051000|      1|   0|    0|   0|
|             1040000|      0|   1|    0|   0|
|             3300000|      0|   0|    0|   1|
+--------------------+-------+----+-----+----+
only showing top 20 rows

In [27]:
print(df_cars.stat.crosstab('selling_price','brand').show())

+-------------------+----------+-----+----+---+---------+------+------+----+-----+----+-----+-------+-----+------+----+---+----+-----+--------+------+-------------+---+----------+------+----+-------+-----+----+------+----------+-----+
|selling_price_brand|AMBASSADOR|ASHOK|AUDI|BMW|CHEVROLET|DAEWOO|DATSUN|FIAT|FORCE|FORD|HONDA|HYUNDAI|ISUZU|JAGUAR|JEEP|KIA|LAND|LEXUS|MAHINDRA|MARUTI|MERCEDES-BENZ| MG|MITSUBISHI|NISSAN|OPEL|RENAULT|SKODA|TATA|TOYOTA|VOLKSWAGEN|VOLVO|
+-------------------+----------+-----+----+---+---------+------+------+----+-----+----+-----+-------+-----+------+----+---+----+-----+--------+------+-------------+---+----------+------+----+-------+-----+----+------+----------+-----+
|             978999|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      1|    0|     0|   0|  0|   0|    0|       0|     0|            0|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
|              68000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       0|     0|            0|  0|         0|     0|   1|      0|    0|   0|     0|         0|    0|
|             600000|         0|    0|   0|  0|        4|     0|     0|   0|    0|  11|   18|     32|    0|     0|   0|  0|   0|    0|      28|    86|            0|  0|         0|     1|   0|     12|    2|   7|     6|         4|    0|
|              31504|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       0|     1|            0|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
|             105000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    1|      1|    0|     0|   0|  0|   0|    0|       0|     4|            0|  0|         0|     0|   0|      0|    0|   1|     0|         0|    0|
|             537000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       0|     0|            0|  0|         0|     0|   0|      0|    0|   1|     0|         0|    0|
|             499000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      2|    0|     0|   0|  0|   0|    0|       1|     0|            0|  0|         0|     1|   0|      0|    0|   0|     0|         0|    0|
|             715000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      3|    0|     0|   0|  0|   0|    0|       1|     1|            0|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
|             403000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       1|     0|            0|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
|             541000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       0|     0|            0|  0|         0|     0|   0|      0|    0|   1|     0|         0|    0|
|            1789999|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       0|     0|            0|  0|         0|     0|   0|      0|    0|   0|     1|         0|    0|
|             515000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   3|    1|      1|    0|     0|   0|  0|   0|    0|       2|     4|            1|  0|         0|     0|   0|      1|    0|   1|     2|         1|    0|
|             565000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   1|    1|      3|    0|     0|   0|  0|   0|    0|       0|     2|            0|  0|         0|     0|   0|      0|    0|   0|     0|         3|    0|
|             151000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       1|     0|            0|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
|            1025000|         0|    0|   1|  0|        0|     0|     0|   0|    0|   0|    1|      0|    0|     0|   0|  0|   0|    0|       1|     4|            0|  0|         0|     0|   0|      0|    0|   2|     0|         0|    0|
|            1898999|         0|    0|   1|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       0|     0|            0|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
|             785000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      1|    0|     0|   0|  0|   0|    0|       0|     0|            0|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
|            1051000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       1|     0|            0|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
|            1040000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       0|     1|            0|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
|            3300000|         0|    0|   0|  0|        0|     0|     0|   0|    0|   0|    0|      0|    0|     0|   0|  0|   0|    0|       0|     0|            1|  0|         0|     0|   0|      0|    0|   0|     0|         0|    0|
+-------------------+----------+-----+----+---+---------+------+------+----+-----+----+-----+-------+-----+------+----+---+----+-----+--------+------+-------------+---+----------+------+----+-------+-----+----+------+----------+-----+
only showing top 20 rows

None

In [28]:
features = ["year", "km_driven", "StateorProvince", "City","fuel", "seller-type", "transmission", "owner","mileage", "engine", "max_power", "seats", "sold","Region", "brand"]

In [30]:
#lr_data = df_cars.select(col("selling_price").alias("label"), *features)

In [ ]:
lr_data = df_cars.select(col("selling_price").alias("label"), *features)
lr_data.printSchema()

### ENCODING OF DATA

In [43]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer

indexers = [StringIndexer(inputCol=column, outputCol=column+'_index').fit(df_cars) for column in list(set(df_cars.columns)-set(['selling_price','km_driven','year','_c0','mileage','engine','max_power','seats'])) ]

pipeline = Pipeline(stages=indexers)
df_r = pipeline.fit(df_cars).transform(df_cars)

df_r.show()

+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+-----------+------------+----------+---------------------+----------+-----------+----------+-----------------+------------------+
|_c0|year|selling_price|km_driven|     StateorProvince|      City|  fuel|seller_type|transmission|       owner|mileage|engine|max_power|seats|sold|Region|     brand|brand_index|Region_index|fuel_index|StateorProvince_index|sold_index|owner_index|City_index|seller_type_index|transmission_index|
+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+-----------+------------+----------+---------------------+----------+-----------+----------+-----------------+------------------+
|  0|2014|       450000|   145500|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   23.4|  1248|     74.0|    5|   Y|  East|    MARUTI|        0.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
|  1|2019|      1149000|     5000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   17.0|  1591|    121.3|    5|   Y|  East|   HYUNDAI|        1.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
|  2|2017|       600000|    25000|District of Columbia|Washington|Petrol| Individual|      Manual| Third Owner|  18.16|  1196|     86.8|    5|   Y|  East|      FORD|        6.0|         2.0|       1.0|                 33.0|       1.0|        2.0|       5.0|              0.0|               0.0|
|  3|2016|       540000|    40000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   22.0|  1498|  108.495|    5|   Y|  East|VOLKSWAGEN|        9.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
|  4|2015|       630000|   135000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   25.1|  1498|     98.6|    5|   Y|  East|     HONDA|        4.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
|  5|2018|       448000|    30000|District of Columbia|Washington|Petrol| Individual|   Automatic| First Owner|  20.51|   998|     67.0|    5|   Y|  East|    MARUTI|        0.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               1.0|
|  6|2009|       185000|    77000|District of Columbia|Washington|Petrol|     Dealer|      Manual|Second Owner|  21.79|   998|    67.05|    5|   Y|  East|    MARUTI|        0.0|         2.0|       1.0|                 33.0|       1.0|        1.0|       5.0|              1.0|               0.0|
|  7|2010|       200000|   100000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|   18.8|  1248|     90.0|    5|   Y|  East|      TATA|        3.0|         2.0|       0.0|                 33.0|       1.0|        1.0|       5.0|              0.0|               0.0|
|  8|2019|       615000|    10000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|  21.21|  1197|     81.8|    5|   Y|  East|    MARUTI|        0.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
|  9|2014|       400000|    70000|District of Columbia|Washington|Diesel| Individual|      Manual| Third Owner|  20.45|  1461|     83.8|    5|   Y|  East|    NISSAN|       12.0|         2.0|       0.0|                 33.0|       1.0|        2.0|       5.0|              0.0|               0.0|
| 10|2015|       700000|   110000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|  20.77|  1248|    88.76|    7|   Y|  East|    MARUTI|        0.0|         2.0|       0.0|                 33.0|       1.0|        1.0|       5.0|              0.0|               0.0|
| 11|2019|       690000|     1303|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   17.8|  1198|     86.7|    5|   Y|  East|     HONDA|        4.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               0.0|
| 12|2013|       625000|    39000|District of Columbia|Washington|Petrol|     Dealer|   Automatic| First Owner|  14.28|  1798|   138.03|    5|   Y|  East|    TOYOTA|        5.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               1.0|
| 13|2018|      3400000|    22000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|   18.0|  1969|    190.0|    5|   Y|  East|     VOLVO|       14.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               1.0|
| 14|2010|       975000|    72200|District of Columbia|Washington|Petrol|     Dealer|   Automatic|Second Owner|   10.8|  2497|    150.0|    5|   Y|  East|       BMW|       10.0|         2.0|       1.0|                 33.0|       1.0|        1.0|       5.0|              1.0|               1.0|
| 15|2016|       805000|    49900|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   16.3|  1797|    147.5|    5|   Y|  East|   HYUNDAI|        1.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               0.0|
| 16|2011|       375000|    49000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|  15.04|  1598|    103.6|    5|   Y|  East|VOLKSWAGEN|        9.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
| 17|2016|      2900000|    12000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|  18.12|  1995|    190.0|    5|   Y|  East|       BMW|       10.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               1.0|
| 18|2015|       390000|    50000|District of Columbia|Washington|Petrol| Individual|   Automatic|Second Owner|  20.51|   998|     67.0|    5|   Y|  East|    MARUTI|        0.0|         2.0|       1.0|                 33.0|       1.0|        1.0|       5.0|              0.0|               1.0|
| 19|1999|        40000|    40000|District of Columbia|Washington|Petrol| Individual|      Manual|Second Owner|   16.1|   796|     37.0|    4|   Y|  East|    MARUTI|        0.0|         2.0|       1.0|                 33.0|       1.0|        1.0|       5.0|              0.0|               0.0|
+---+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+-----------+------------+----------+---------------------+----------+-----------+----------+-----------------+------------------+
only showing top 20 rows

In [46]:
df_r=df_r.drop("_c0","brand", "Region", "fuel", "StateorProvince", "sold", "owner" ,"City" ,"seller_type","transmission")

In [47]:
df_r.printSchema()

root
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: double (nullable = true)
 |-- seats: integer (nullable = true)
 |-- brand_index: double (nullable = true)
 |-- Region_index: double (nullable = true)
 |-- fuel_index: double (nullable = true)
 |-- StateorProvince_index: double (nullable = true)
 |-- sold_index: double (nullable = true)
 |-- owner_index: double (nullable = true)
 |-- City_index: double (nullable = true)
 |-- seller_type_index: double (nullable = true)
 |-- transmission_index: double (nullable = true)

### MODEL BUILDING

In [48]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline
from pyspark.sql.functions import *

In [56]:
features=['year','km_driven','mileage','engine','max_power','seats','brand_index','Region_index','fuel_index','StateorProvince_index','sold_index','owner_index','City_index','seller_type_index','transmission_index']

In [57]:
lr_data = df_r.select(col("selling_price").alias("label"), *features)
lr_data.printSchema()

root
 |-- label: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: double (nullable = true)
 |-- seats: integer (nullable = true)
 |-- brand_index: double (nullable = true)
 |-- Region_index: double (nullable = true)
 |-- fuel_index: double (nullable = true)
 |-- StateorProvince_index: double (nullable = true)
 |-- sold_index: double (nullable = true)
 |-- owner_index: double (nullable = true)
 |-- City_index: double (nullable = true)
 |-- seller_type_index: double (nullable = true)
 |-- transmission_index: double (nullable = true)

In [58]:
lr_data.show()

+-------+----+---------+-------+------+---------+-----+-----------+------------+----------+---------------------+----------+-----------+----------+-----------------+------------------+
|  label|year|km_driven|mileage|engine|max_power|seats|brand_index|Region_index|fuel_index|StateorProvince_index|sold_index|owner_index|City_index|seller_type_index|transmission_index|
+-------+----+---------+-------+------+---------+-----+-----------+------------+----------+---------------------+----------+-----------+----------+-----------------+------------------+
| 450000|2014|   145500|   23.4|  1248|     74.0|    5|        0.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
|1149000|2019|     5000|   17.0|  1591|    121.3|    5|        1.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
| 600000|2017|    25000|  18.16|  1196|     86.8|    5|        6.0|         2.0|       1.0|                 33.0|       1.0|        2.0|       5.0|              0.0|               0.0|
| 540000|2016|    40000|   22.0|  1498|  108.495|    5|        9.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
| 630000|2015|   135000|   25.1|  1498|     98.6|    5|        4.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
| 448000|2018|    30000|  20.51|   998|     67.0|    5|        0.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               1.0|
| 185000|2009|    77000|  21.79|   998|    67.05|    5|        0.0|         2.0|       1.0|                 33.0|       1.0|        1.0|       5.0|              1.0|               0.0|
| 200000|2010|   100000|   18.8|  1248|     90.0|    5|        3.0|         2.0|       0.0|                 33.0|       1.0|        1.0|       5.0|              0.0|               0.0|
| 615000|2019|    10000|  21.21|  1197|     81.8|    5|        0.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
| 400000|2014|    70000|  20.45|  1461|     83.8|    5|       12.0|         2.0|       0.0|                 33.0|       1.0|        2.0|       5.0|              0.0|               0.0|
| 700000|2015|   110000|  20.77|  1248|    88.76|    7|        0.0|         2.0|       0.0|                 33.0|       1.0|        1.0|       5.0|              0.0|               0.0|
| 690000|2019|     1303|   17.8|  1198|     86.7|    5|        4.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               0.0|
| 625000|2013|    39000|  14.28|  1798|   138.03|    5|        5.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               1.0|
|3400000|2018|    22000|   18.0|  1969|    190.0|    5|       14.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               1.0|
| 975000|2010|    72200|   10.8|  2497|    150.0|    5|       10.0|         2.0|       1.0|                 33.0|       1.0|        1.0|       5.0|              1.0|               1.0|
| 805000|2016|    49900|   16.3|  1797|    147.5|    5|        1.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               0.0|
| 375000|2011|    49000|  15.04|  1598|    103.6|    5|        9.0|         2.0|       1.0|                 33.0|       1.0|        0.0|       5.0|              0.0|               0.0|
|2900000|2016|    12000|  18.12|  1995|    190.0|    5|       10.0|         2.0|       0.0|                 33.0|       1.0|        0.0|       5.0|              1.0|               1.0|
| 390000|2015|    50000|  20.51|   998|     67.0|    5|        0.0|         2.0|       1.0|                 33.0|       1.0|        1.0|       5.0|              0.0|               1.0|
|  40000|1999|    40000|   16.1|   796|     37.0|    4|        0.0|         2.0|       1.0|                 33.0|       1.0|        1.0|       5.0|              0.0|               0.0|
+-------+----+---------+-------+------+---------+-----+-----------+------------+----------+---------------------+----------+-----------+----------+-----------------+------------------+
only showing top 20 rows

### Linear Regressor

In [80]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

In [121]:
(trainingData, testData) = lr_data.randomSplit([0.8, 0.2])

#### VectorAssembler is a transformer that combines a given list of columns into a single vector column.

In [122]:
vectorAssembler = VectorAssembler(inputCols=features, outputCol="features")
train_a = vectorAssembler.transform(trainingData)
#train_a.show()
train_b = train_a.select("features",train_a.label.alias('label'))
train_b.show(truncate= False)

+-----------------------------------------------------------------------------+-----+
|features                                                                     |label|
+-----------------------------------------------------------------------------+-----+
|[1997.0,80000.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,6.0,0.0,2.0,249.0,0.0,0.0]   |29999|
|[2001.0,10000.0,17.3,993.0,60.0,5.0,0.0,0.0,1.0,1.0,0.0,0.0,1081.0,0.0,0.0]  |30000|
|[2000.0,56194.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,6.0,0.0,3.0,593.0,0.0,0.0]   |31000|
|[2004.0,90000.0,18.9,998.0,67.1,5.0,0.0,2.0,1.0,11.0,0.0,2.0,1162.0,0.0,0.0] |33351|
|[1998.0,40000.0,16.1,796.0,37.0,4.0,0.0,3.0,1.0,9.0,0.0,1.0,639.0,0.0,0.0]   |35000|
|[2003.0,35000.0,16.1,796.0,37.0,4.0,0.0,1.0,1.0,21.0,1.0,1.0,762.0,0.0,0.0]  |35000|
|[2001.0,42108.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,1.0,0.0,0.0,422.0,0.0,0.0]   |39000|
|[1996.0,32000.0,16.1,796.0,37.0,4.0,0.0,1.0,1.0,30.0,0.0,1.0,177.0,0.0,0.0]  |40000|
|[1997.0,120000.0,16.1,796.0,37.0,4.0,0.0,3.0,1.0,9.0,0.0,0.0,321.0,0.0,0.0]  |40000|
|[1998.0,70000.0,16.1,796.0,37.0,4.0,0.0,2.0,1.0,11.0,0.0,1.0,1195.0,0.0,0.0] |40000|
|[1999.0,40000.0,16.1,796.0,37.0,4.0,0.0,2.0,1.0,33.0,1.0,1.0,5.0,0.0,0.0]    |40000|
|[1999.0,50000.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,23.0,0.0,1.0,314.0,0.0,0.0]  |40000|
|[1999.0,100000.0,16.1,796.0,37.0,4.0,0.0,2.0,1.0,11.0,0.0,2.0,1166.0,0.0,0.0]|40000|
|[2002.0,80000.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,3.0,0.0,0.0,857.0,0.0,0.0]   |40000|
|[2004.0,57000.0,16.1,796.0,37.0,4.0,0.0,3.0,1.0,19.0,0.0,1.0,488.0,0.0,0.0]  |40000|
|[2004.0,120000.0,16.1,796.0,37.0,4.0,0.0,2.0,1.0,39.0,0.0,0.0,124.0,0.0,0.0] |40000|
|[2005.0,96000.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,6.0,0.0,3.0,696.0,0.0,0.0]   |40000|
|[1994.0,60000.0,16.1,796.0,37.0,4.0,0.0,2.0,1.0,11.0,1.0,0.0,1154.0,0.0,0.0] |45000|
|[2000.0,50000.0,16.1,796.0,37.0,4.0,0.0,2.0,1.0,8.0,1.0,1.0,234.0,0.0,0.0]   |45000|
|[2001.0,5000.0,16.1,796.0,37.0,4.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0]      |45000|
+-----------------------------------------------------------------------------+-----+
only showing top 20 rows

In [123]:
lr = LinearRegression()
model = lr.fit(train_b)
test_a = vectorAssembler.transform(testData)
test_b = test_a.select('features', test_a.label.alias('label'))
test_c = model.transform(test_b)
test_c.show(truncate=False)

+----------------------------------------------------------------------------+-----+-------------------+
|features                                                                    |label|prediction         |
+----------------------------------------------------------------------------+-----+-------------------+
|[2004.0,110000.0,16.1,796.0,37.0,4.0,0.0,3.0,1.0,4.0,1.0,2.0,724.0,0.0,0.0] |31504|-629600.7332796678 |
|[2007.0,10000.0,16.1,796.0,37.0,4.0,0.0,2.0,1.0,11.0,0.0,0.0,1248.0,0.0,0.0]|35000|-454552.260469839  |
|[2002.0,80000.0,16.1,796.0,37.0,4.0,0.0,1.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0]    |40000|-682258.409262687  |
|[1996.0,70000.0,16.1,796.0,37.0,4.0,0.0,3.0,1.0,31.0,0.0,2.0,174.0,0.0,0.0] |42000|-863181.513095215  |
|[2003.0,62000.0,16.1,796.0,37.0,4.0,0.0,3.0,1.0,4.0,0.0,0.0,617.0,0.0,0.0]  |42000|-635431.1577419862 |
|[1998.0,80000.0,16.1,796.0,37.0,4.0,0.0,2.0,1.0,5.0,0.0,3.0,296.0,0.0,0.0]  |45000|-829615.7728456482 |
|[1999.0,100000.0,17.3,993.0,60.0,5.0,0.0,3.0,1.0,4.0,0.0,2.0,970.0,0.0,0.0] |45000|-486131.4440911859 |
|[2001.0,137000.0,18.5,796.0,53.0,5.0,27.0,3.0,1.0,4.0,0.0,0.0,178.0,0.0,0.0]|45000|33324.08656100929  |
|[2002.0,70000.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,1.0,0.0,1.0,323.0,0.0,0.0]  |45000|-698239.498515375  |
|[2002.0,62000.0,16.1,796.0,37.0,4.0,0.0,3.0,1.0,4.0,0.0,0.0,472.0,0.0,0.0]  |50000|-668480.3132941574 |
|[2003.0,50000.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,1.0,0.0,2.0,105.0,0.0,0.0]  |50000|-650694.5726662502 |
|[2004.0,50000.0,16.1,796.0,37.0,4.0,0.0,1.0,1.0,0.0,0.0,0.0,647.0,0.0,0.0]  |50000|-604631.1385084167 |
|[2004.0,62000.0,13.0,1343.0,90.0,5.0,4.0,1.0,1.0,0.0,0.0,1.0,599.0,0.0,0.0] |50000|100280.20691826195 |
|[2006.0,40000.0,16.1,796.0,37.0,4.0,0.0,2.0,1.0,26.0,0.0,2.0,25.0,0.0,0.0]  |50000|-520577.44169648737|
|[2008.0,120000.0,17.5,1396.0,70.0,5.0,3.0,3.0,0.0,4.0,0.0,2.0,62.0,0.0,0.0] |50000|8252.262543268502  |
|[1999.0,100000.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,25.0,1.0,0.0,64.0,0.0,0.0] |52000|-784924.2505120412 |
|[1995.0,70000.0,16.1,796.0,37.0,4.0,0.0,0.0,1.0,13.0,0.0,0.0,984.0,0.0,0.0] |55000|-911295.3400094882 |
|[1998.0,50000.0,17.3,993.0,60.0,5.0,0.0,0.0,1.0,1.0,0.0,1.0,259.0,0.0,0.0]  |55000|-489281.9354604259 |
|[2007.0,70000.0,15.9,1298.0,85.0,5.0,0.0,3.0,1.0,28.0,0.0,2.0,640.0,0.0,0.0]|55000|118136.1783626005  |
|[2007.0,75958.0,17.88,1396.0,52.8,5.0,3.0,1.0,0.0,0.0,0.0,1.0,824.0,0.0,0.0]|55000|-201502.11576283723|
+----------------------------------------------------------------------------+-----+-------------------+
only showing top 20 rows

In [125]:
evaluator = RegressionEvaluator()
print(evaluator.evaluate(test_c,{evaluator.metricName: "r2"}))

0.6753329119351326